@import '../../styles/contants.scss';

.wrapper{
    .container{
        gap: 2rem;

        @media (max-width: $sm){
            flex-direction: column;
            gap: 2rem;
            align-items: flex-start;
        }

        .left{
            flex: 3;
            >*{
                display: block;
            }
            >:nth-child(2){
                margin-top: 3rem;
                a{
                    text-decoration: underline;
                    color: blue;
                }
            }
        }

        .right{
            flex: 1;
            .socials{
                gap: 1rem;
                margin-bottom: 1rem;
            }
            .menu{

                @media (max-width: $sm){
                    flex-direction: row;
                    flex-wrap: wrap;
                }

                .resume{
                    font-weight: 600;
                    font-size: 1.2rem;
                    color: green;
                }

                display: flex;
                flex-direction: column;
                gap: 2rem;
                list-style: none;
                a{
                    text-decoration: none;
                    color: blue;
                    &:hover{
                        color: $secondary;

                    }
                }
            }
        }
    }
}